{% extends 'baseFront.html.twig' %}

{% block title %}Events!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .pagination a {
            color: #333;
            text-decoration: none;
            padding: 10px;
            margin-right: 5px;
            border-radius: 5px;
            background-color: #eee;
        }

        .pagination .current {
            color: #fff;
            background-color: teal;
        }

        .pagination a:hover {
            background-color: #ccc;
            color: #fff;
        }
    </style>
    {% endblock %}

{% block body %}
    <body style="background-image:url('{{ asset('uploads/events/vectobg.jpg') }}'); background-size: cover; background-position: center; color: #fff; margin-top:10%">

        <h1 style="text-align: center;">Upcoming Events</h1>

        <div class="grid-container" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-gap: 20px;">
            {% for event in pagination %}
            <div class="grid-item" style="background-color: rgba(255, 255, 255, 0.2); border-radius: 10px; padding: 20px; display: flex; justify-content: space-between; align-items: center;">
                {% if event.image %}
                    <img src="{{ asset('uploads/events/' ~ event.image) }}" alt="{{ event.nomEvent }}" style="width: 300px; margin-right: 20px;">
                {% endif %}                   
                <div class="event-details" style="flex: 1;">
                    <h2 style="color: #fff;">{{ event.nomEvent }}</h2>
                    <p style="color: #fff;">{{ event.description }}</p>
                    <p style="color: #fff;">{{ event.date|date('F j, Y, g:i a') }}</p>
                    <p style="color: #fff;">{{ event.location }}</p>
                    <p style="color: #fff;">{{ event.type }}</p>
                    <a href="{{ path('event_details', {id: event.id}) }}" class="btn btn-info">View</a>
                    <a href="{{ path('event_book', {id: event.id}) }}" class="btn btn-info">Book</a>

                </div>
            </div>
            {% endfor %}
            {# display pagination links #}
           
        </div>
         <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
    </body>
{% endblock %}