{% extends 'baseBack.html.twig' %}


{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Type of sport</th>
                                <th>Date of participation</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for participationSeance in participation_seances %}
                                <tr>
                                    <td>{{ participationSeance.id }}</td>
                                    <td>{{ participationSeance.typeSport }}</td>
                                    <td>{{ participationSeance.dateParticipation ? participationSeance.dateParticipation|date('Y-m-d') : '' }}</td>
                                    <td>
                                        <a href="{{ path('app_participation_seance_show', {'id': participationSeance.id}) }}" class="btn btn-sm btn-primary">Show</a>
                                        <a href="{{ path('app_participation_seance_edit', {'id': participationSeance.id}) }}" class="btn btn-sm btn-secondary">Edit</a>
                                        <a href="{{ path('app_participation_seance_delete', {'id': participationSeance.id}) }}" class="btn btn-sm btn-warning">Delete</a>

                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">No records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_participation_seance_new') }}" class="btn btn-sm btn-success">Create New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
