{% extends 'baseFront.html.twig' %}

{% block title %}
<center>
 
</center>
{% endblock %}
{% block css %}
<style>
    
    .form-style {
        padding: 50px;
    }
    .form-group {
        margin-bottom: 30px;
        width: 50%;
    }
    .form-control {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
    ::placeholder {
        color: #000000!important;
    }
    .logo {
        weight:100;

    }
    #role {
         margin-bottom: 30px;
        width: 50%;

    }
</style>
{% endblock %}

{% block body %}
<center>

<div style="margin-top:10px; padding:20px; width:800px; height:fit-content; 
       border-radius:10px; background-image: url('../images/image.jpg'); background-size: 100% ; box-shadow: -1px -1px 34px 3px rgba(0,0,0,0.63);
-webkit-box-shadow: -1px -1px 34px 3px rgba(0,0,0,0.63);-moz-box-shadow: -1px -1px 34px 3px rgba(0,0,0,0.63);" class="container">

<label style="color:#FAC031;  font-weight: bold; font-size: 20px;"  >Bienvenue</label> 



       {{form_start(utilisateur,{'attr':{'novalidate':'novalidate'}} )}}
      
        <div class="form-group">
            {{ form_widget(utilisateur.nom, {'attr': {'class': 'form-control', 'placeholder': 'Merci de taper votre nom'}}) }}
            {% if form_errors(utilisateur.nom)is not empty %}    
            <div class="alert alert-danger">
            {{ form_errors(utilisateur.nom) }}
            </div>
            {% endif %}
        </div>
       
        <div class="form-group">
            {{ form_widget(utilisateur.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Merci de taper votre prenom'}}) }}
            {% if form_errors(utilisateur.prenom)is not empty %}
            <div class="alert alert-danger">
            {{ form_errors(utilisateur.prenom) }}
            </div>
             {% endif %}
        </div>
         <div class="form-group">
       
            {{ form_widget(utilisateur.date_de_naissance, {'attr': {'class': 'form-control', 'placeholder': 'Merci de choisir une date'}}) }}
            {% if form_errors(utilisateur.date_de_naissance)is not empty %}
            <div class="alert alert-danger">
            {{ form_errors(utilisateur.date_de_naissance) }}
            
            </div>
            {% endif %}
        </div>
        <div class="form-group" >
            {{ form_widget(utilisateur.telephone, {'attr': {'class': 'form-control', 'placeholder': 'Merci de taper votre numero de telephone '}}) }}
            {% if form_errors(utilisateur.telephone)is not empty %}
            <div class="alert alert-danger">
            {{ form_errors(utilisateur.telephone) }}
            
            </div>
            {% endif %}
        </div>
       
        
        <div class="form-group">
            {{ form_widget(utilisateur.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Merci de taper votre adresse'}}) }}
            {% if form_errors(utilisateur.adresse)is not empty %} 
            <div class="alert alert-danger">
            {{ form_errors(utilisateur.adresse) }}
            
            </div>
            {% endif %}
        </div>
        

        <div class="form-group">
       
            {{ form_widget(utilisateur.genre, {'attr': {'class': 'form-control', 'placeholder': 'Merci de choisir le genre'}}) }}
            {% if form_errors(utilisateur.genre)is not empty %}
            <div class="alert alert-danger">
            {{ form_errors(utilisateur.genre) }}
            
            </div>
            {% endif %}
        </div>
         <div class="form-group">
            {{ form_widget(utilisateur.roles, {'attr': {'class': 'form-control', 'placeholder': 'Merci de choisir le role'}}) }}
            {% if form_errors(utilisateur.roles)is not empty %}
            <div class="alert alert-danger">
            {{ form_errors(utilisateur.roles) }}
            </div>
            {% endif %}
        </div>
 
        <div class="form-group">
            {{ form_widget(utilisateur.email, {'attr': {'class': 'form-control', 'placeholder': 'Merci de taper votre email'}}) }}
            {% if form_errors(utilisateur.email)is not empty %}
            <div class="alert alert-danger">
            {{ form_errors(utilisateur.email) }}
            
            </div>
            {% endif %}

            
        </div>
        <div class="form-group">
        
            {{ form_widget(utilisateur.password, {'attr': {'class': 'form-control', 'placeholder': 'Merci de taper votre mot de passe'}}) }}
            {% if form_errors(utilisateur.password)is not empty %}
            <div class="alert alert-danger">
            {{ form_errors(utilisateur.password) }}
            
            </div>
            {% endif %}
        </div>
       
       
        
       
        
       <button class="btn btn-primary" style="background-color:#FAC031; border:none">{{button_label|default('Save')}}</button> 
       
        

        {{ form_end(utilisateur) }}

        
    
</div>


</center>

{% endblock %}