{% extends 'baseBack.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <div class="container my-5">

        <div class="row">
            {% for video in videos %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ video.titreVideo }}</h5>
                            <p class="card-text">{{ video.descriptionVideo }}</p>
                            <p class="card-text">{{ video.fileUrlVideo}}</p>
                            <p class="card-text">{{ video.seance }}</p>
                            <a href="{{ path('app_video_show', {'id': video.id}) }}" class="btn btn-primary mr-2">Read more</a>
                            <a href="{{ path('app_video_edit', {'id': video.id}) }}" class="btn btn-secondary">Edit</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <p class="text-muted">No records found.</p>
                </div>
            {% endfor %}
        </div>

        <div class="text-center mt-5">
            <a href="{{ path('app_video_new') }}" class="btn btn-primary">Create new video</a>
        </div>
    </div>

    <style>
        .card {
            border: none;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        }

        .card-title {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .card-text {
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 1.5rem;
        }
    </style>
{% endblock %}
