{% extends 'baseBack.html.twig' %}

{% block title %}
New Article

{% endblock %}
{% block body %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  

    <h1>Article index</h1>
  


    <table class="table" align="center" >
        <thead>
            <tr>
                <th>Id</th>
                <th>TitreArticle</th>
                
                <th>DateArticle</th>
                <th>ImageArticle</th>
                <th>categorie</th>
                
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titreArticle }}</td>

                
                <td>{{ article.dateArticle ? article.dateArticle|date('Y-m-d') : '' }}</td>
                
               <td>
<img class="img-fluid" src="{{asset('uploads/articles/' ~ article.imageArticle)  }}"  >
</td>

                <td>{{ article.categorie }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}"  class="material-icons">
visibility
</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="material-icons">
edit
</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    
     </table>
  

    <a href="{{ path('app_article_new') }}"  class="material-icons">
add
</a>
{% endblock %}
