{% extends 'baseBack.html.twig' %}

{% block title %}
New Article
<style>
 
    .table td:nth-child(3) {
        width: 200px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
  .table td:nth-child(5) {
        width: 200px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


</style>
{% endblock %}
{% block body %}
  

    <h1>Article index</h1>
  


    <table class="table" align="center" >
        <thead>
            <tr>
                <th>Id</th>
                <th>TitreArticle</th>
                <th>DescriptionArticle</th>
                <th>DateArticle</th>
                <th>ImageArticle</th>
                <th>categorie</th>
                
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titreArticle }}</td>

                <td class="scrollable-cell">{{ article.descriptionArticle }}</td>
                <td>{{ article.dateArticle ? article.dateArticle|date('Y-m-d') : '' }}</td>
                
               <td>
<img class="img-fluid" src="/uploads/articles{{ article.imageArticle  }}"  >
</td>

                <td>{{ article.categorie }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    
     </table>
  

    <a href="{{ path('app_article_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
